@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap');



.friend-list-container{
    
    width: 250px !important;
    height: 99vh !important;
    background-color: #0d2234;
    border: 0.3px solid #0d2234 !important;
    padding-top:24px !important ;
}
.friend-name{
    
    font-family: Lato,Poppins,Muli,sans-serif;
    font-size: 15px !important;
    font-weight: 549 !important;
    margin-left: 12.5px !important;
    color: #FFFFFF;
  

}
.friend-list-data{
   
    width: 100% !important;
    height: 50px !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    padding-left: 10px !important;
    position: relative !important;
    margin-bottom: 15px !important;
    
    
    
}

.message-div-curve{
    content: "" !important;
    width: 15px !important;
    height: 15px !important;
    background-color:whitesmoke  !important;
    position: absolute !important;
    left: 0 !important;
    top: 100% !important;
    transform: rotate(45deg);
    margin-left: 4.99px !important;
    margin-top: -7px !important;
    background-color: #0d2234;
    border-left: 0px !important;
    border-top: 0px !important;
    display: none !important;
}
.message-div-curve-right{
    content: "" !important;
    width: 15px !important;
    height: 15px !important;
    background-color:whitesmoke  !important;
    position: absolute !important;
    right: 0 !important;
    top: 100% !important;
    transform: rotate(45deg);
    margin-right: 3.5px !important;
    margin-top: -7px !important;
    background-color: #0d2234;
    border-left: 0px !important;
    border-top: 0px !important;
   display: none !important;
   
}
.friend-list-data:hover{
    background-color: whitesmoke !important;
 
}
.friend-list-data:hover .friend-name{
    color: darkslategray !important;
}
.friend-list-data:hover .message-div-curve{
    display: initial !important;
}
.friend-list-data:hover .message-div-curve-right{
    display: initial !important;
}

.friend-list{
    
    width: 100% !important;
    height: 95% !important;
    box-sizing: border-box !important;
    padding-top: 33px !important;
    
}
.chat-logo{
    margin-right: 10px;
}
.friend-list-header{
 
    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.friend-list-heading{
     font-family: 'Fira Sans', sans-serif !important;
     color: #FFFFFF !important;
     font-weight: bolder !important;
     font-size: 21px !important;
     text-align: center !important;
}
.friend-image{
    width: 30px !important;
    height: 30px !important;
    /* border: 2px solid green !important; */
    border-radius: 50% !important;
    box-sizing: border-box !important;
    outline: 2px solid green !important;
    
    
}
.search-friends{
    background-color: #0e2231 !important;
    color: #FFFFFF !important;
    padding-left: 15px !important;
    padding-top: 3.5px !important;
    padding-bottom: 3.5px !important;
    border: 0.5px solid #0b1b27;
    border-radius: 10px !important;
    margin-top: 29.25px !important;
    font-size: 14.5px !important;
    font-family: Lato,Poppins,Muli,sans-serif !important;
    margin-bottom: 33px !important;
}
