.message-component-module{
    height: 100vh !important;
}
.message-component-container{
    border: 2px solid red !important;
    width: 700px !important;
    height: 100vh !important;
    padding: 0 !important;
   
}
.friend-data-container{
    border: 1px solid black !important;
    height: 70px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    background-color: #0d2234;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: start  !important;
    padding-left: 25px !important;
    
}
.messages-data{
    border: 2px solid green !important;
    width: 100% !important;
    height: 81.5% !important;
    box-sizing: border-box !important;
}
.type-messages{
    border: 1px solid white !important;
    width: 80% !important;
    height:100% !important;
    box-sizing: border-box !important;
    margin-left: 6.99px !important;
   border-radius: 24px !important;
   background-color: white !important;

}
.messsages{
    width: 250px;
    height: 46px;
    background-color:  white;
    position: relative;
    border-radius: 15px !important;


}
.messsages::after{
    content: "" !important;
    position: absolute !important;
    width: 15px !important;
    height: 15px !important;
  
    border-left: 0px !important;
    border-top: 0px !important;
    top: 100% !important;
    left: 50% !important;
    margin-left: -13px !important;
    transform: rotate(45deg) !important;
    margin-top: -7px !important;
    background: white !important;
}
.message-send{
    border: 2px solid black !important;
    width: 100% !important;
    height: 8% !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: row !important;
   
}
.send-btn{
    margin-left: 20px !important;
}
.friend-pic{
    width: 37px !important;
    height: 37px !important;
    border: 2px solid green !important;
    border-radius: 50% !important;
}
.friend-message-name{
    
}