@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Montserrat&display=swap');

.message-component-module{
    width: 100% !important;
    height: 99vh !important;
    padding: 0 !important;

}
.message-component-container{
  margin: 0 !important;
    width: 100% !important;
    height: 100% !important;
    padding: 0 !important;
    
   
}

.friend-data-container{
  
    height: 70px !important;
    width: 100% !important;
    box-sizing: border-box !important;
    background-color: #0d2234;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: flex-start  !important;
    padding-left: 25px !important;
    border: 0.15px solid #0d2234 !important;
    
}
.messages-data{
  
    display: flex !important;
    flex-direction: column !important;
    align-items: flex-end !important;
    padding-top: 40px !important;
    padding-right: 8px !important;
    padding-left: 8px !important;
    width: 100% !important;
    height: 81.5% !important;
overflow-y: auto !important;
    box-sizing: border-box !important;
}
.type-messages{
    border: 1px solid white !important;

    width: 88% !important;
    height:100% !important;
    box-sizing: border-box !important;
    padding-left: 24px !important;
    font-size: 15px !important;
  margin: 0 !important;
   border-radius: 24px !important;
   background-color: #F2F3F5 !important;
     font-family: 'Fira Sans', sans-serif !important;
     border: none !important;
     outline:  none !important;

}
.outgoing-messsages{
    max-width: 250px !important;
    min-height: fit-content !important;
    background-color:  #F2F3F5 !important;
    position: relative !important;
    border-radius: 15px !important;
    padding-left: 51.5px !important;
    padding-right: 51.5px !important;
    padding-top: 13.5px !important;
    padding-bottom: 13.5px !important;
    margin-bottom: 34px !important;
    font-family: 'Fira Sans', sans-serif !important;
    text-align: center !important;
    font-size: 15px !important;

}
.incoming-messsages{
    max-width: 250px !important;
    min-height: fit-content !important;
    background-color:  #0d2234 !important;
    color: whitesmoke !important;
    position: relative !important;
    border-radius: 15px !important;
    padding-left: 51.5px !important;
    padding-right: 51.5px !important;
    padding-top: 13.5px !important;
    padding-bottom: 13.5px !important;
    align-self: flex-start !important;
    font-family: 'Fira Sans', sans-serif !important;
    text-align: center !important;
    font-size: 15px !important;
    margin-bottom: 34px !important;
}
.outgoing-images{
    max-width: 250px !important;
    min-height: fit-content !important;
    position: relative !important;
    border-radius: 15px !important;
    padding-left: 51.5px !important;
    padding-right: 51.5px !important;
    padding-top: 13.5px !important;
    padding-bottom: 13.5px !important;
    margin-bottom: 34px !important;
    font-family: 'Fira Sans', sans-serif !important;
    text-align: center !important;
    font-size: 15px !important;
}
.incoming-images{
    max-width: 250px !important;
    min-height: fit-content !important;
    color: whitesmoke !important;
    position: relative !important;
    border-radius: 15px !important;
    padding-left: 51.5px !important;
    padding-right: 51.5px !important;
    padding-top: 13.5px !important;
    padding-bottom: 13.5px !important;
    align-self: flex-start !important;
    font-family: 'Fira Sans', sans-serif !important;
    text-align: center !important;
    font-size: 15px !important;
    margin-bottom: 34px !important;
}
.incoming-messsages::after{
    content: "" !important;
    position: absolute !important;
    width: 15px !important;
    height: 15px !important;
  
    border-left: 0px !important;
    border-top: 0px !important;
    top: 100% !important;
    left: 50% !important;
    margin-left: -13px !important;
    transform: rotate(45deg) !important;
    margin-top: -7px !important;
    background: #0d2234 !important;
}
.outgoing-messsages::after{
    content: "" !important;
    position: absolute !important;
    width: 15px !important;
    height: 15px !important;
    
    border-left: 0px !important;
    border-top: 0px !important;
    top: 100% !important;
    left: 50% !important;
    margin-left: -13px !important;
    transform: rotate(45deg) !important;
    margin-top: -7px !important;
    background: #F2F3F5 !important;
}
.message-send{
 
    width: 100% !important;
    height: 8% !important;
    box-sizing: border-box !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center;
    padding: 0 !important; 
}
.send-btn{
    
    color: #0d2234 !important;
    cursor: pointer !important;
    border-radius: 100% !important;
    padding: 8px !important;
 
}
.send-btn:hover{
    background-color: #F2F3F5;
}
.friend-pic{
    width: 37px !important;
    height: 37px !important;
    border-radius: 50% !important;
}
.friend-message-name{
    color: #FFFFFF !important;
    font-family: Lato,Poppins,Muli,sans-serif;
    font-weight: 600 !important;
    margin-left: 15px !important;
    font-size: 18.5px !important;
}
.insert-emoji{
    color: #0d2234 !important;

    cursor: pointer !important;
    border-radius: 100% !important;
    padding: 8px !important;

}
.insert-emoji:hover{
    background-color: #F2F3F5 !important;

}
.modal-box{
    position: absolute !important;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important; 
    width:80% !important;
    display: flex !important;
    justify-content: center !important;
}
#image-upload-icon{
    color: #0d2234;
    cursor: pointer;
    margin-left: 10px !important;
    cursor: pointer !important;
    border-radius: 100% !important;
    padding: 8px !important;
}
#image-upload-icon:hover{
    background-color: #F2F3F5 !important;
}
input[type='file'] {
    display: none;  
}

#message-area::-webkit-scrollbar{
width: 2px;
}

#message-area::-webkit-scrollbar-track{
    background-color: #FFFFFF;
}
#message-area::-webkit-scrollbar-thumb{
    background-color: #0d2234 !important;
    border-radius: 10px !important;
}
.video-icon{
    color: #0d2234 !important;

    cursor: pointer !important;
    border-radius: 100% !important;
    padding: 8px !important;
}
.video-icon:hover{
    background-color: #F2F3F5 !important;
}
